header.row.hero.center-xs.middle-xs
    .col-xs-12
        .row.center-xs
            h1.title-hero <%= appauthor %>
                span.subtitle <br><%= appname %>
        .row.center-xs
            p.text-hero <%= appdescription %>
        .row.center-xs
            .col-xs-12.col-md-3.col-sm-4.col-lg-2
                a.button(href="") Github
            .col-xs-12.col-md-3.col-sm-4.col-lg-2
                a.button.download(href="") Download
            .col-xs-12.col-md-3.col-sm-4.col-lg-2
                a.button.download(href="") Fork
