header.row.hero.center-xs.middle-xs
    .col-xs-12
        .row.center-xs
            h1.title-hero <%= appauthor %>
                span.subtitle <br><%= appname %>
        .row.center-xs
            p.text-hero <%= appdescription %>
