svg(style='position: absolute; width: 0; height: 0;', width='0', height='0', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  	defs
    	symbol#icon-heart(viewbox='0 0 768 1024')
    	  	title heart
    	  	path.path1(d='M384 864c399-314 384-425 384-512s-72-192-192-192-192 128-192 128-72-128-192-128-192 105-192 192-15 198 384 512z')
header
	h1 <%= appname %>
	h2 <%= appdescription %>
	.buttons
		a.btn(href='https://github.com/carloscuesta/generator-starterkit/', target='_blank') GitHub
		a.btn(href='https://github.com/carloscuesta/starterkit/archive/master.zip', target='_blank') Download
		a.btn(href='https://github.com/carloscuesta/generator-starterkit', target='_blank') Star
